{% extends "app/base.html" %}

{% block content %}

  <h2>Búsqueda de productos</h2>
  <p>Busca un producto en la base de datos según su nombre.</p>

  <form action="#" method="get">
    <label for="buscar">Nombre del producto:</label>
    <input id="buscar" type="text" name="q">
    <input class="btn btn-primary mt-2 w-100" type="submit" value="Buscar">
  </form>

  {% if productos %}
    <h2>Resultados de búsqueda:</h2>
    <ul>
      {% for producto in productos %}
        <li>{{ producto.name }} - {{ producto.price }} - {{ producto.sku }}</li>
      {% endfor %}
    </ul>
  {% elif mensaje %}
    <p>{{ mensaje }}</p>
  {% endif %}

{% endblock %}