{% extends "app/base.html" %}

{% block content %}

<h2>Productos</h2>
<p>Ingresa un producto a la base de datos agregando su nombre, precio y código.</p>

  <form method="post" class="creacion">
    {% csrf_token %} 
    {{ form.as_p }}
    <input class="btn btn-primary mt-2 w-100" type="submit" value="Enviar" />
  </form>

  {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} mensajes">
            {{ message }}
        </div>
    {% endfor %}
  {% endif %}

{% endblock %}